lightning==2.4.0
install lightning==2.4.0
torchinfo==1.8.0
matplotlib==3.10.0
albumentations==1.4.24
torch-pruning==1.4.1
tensorboard==2.18.0
jupyter==1.1.1
opencv-python==4.10.0.84
onnx==1.17.0
onnx-simplifier==0.4.36
pandas==2.2.3